.inline-content {
    display: flex;
    justify-content: space-between;
}

#peers-content, #peers-table {
    max-height: 70vh;
    overflow-y: auto;
}

#file-search-result {
    max-height: 30vh;
    overflow-y: auto;
}

#file-search-result-module {
    display: none;
}

#modal-alert .modal-content {
    width: auto;
}

#cloud-files-list li {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

#cloud-files-list .cloud-download-loading {
    display: none;
}